@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

#app {
  font-family: var(--font);
}

:root{
  --text-color: #111111;
  --text-color-accent: #01A7FD;
  --text-color-poor: #b1b1b1;

  --main-color: #ffffff;

  --font:'Montserrat', 'Arial', sans-serif;
  --font-size: 14px;
  --font-size-bigger: 16px;
}

* {
  margin: 0;
  padding: 0;
}